<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kexing.management.infrastruction.repository.mybatis.sql_server.ErpTagUIDUploadDataQueryMapper">
    <sql id="tagUIDUploadDataSelectColumns">
        select TagUID as tagUID, ValWork as uploadNumber, DateWrite as updateTime, ValTag as uploadOriginalValue
    </sql>
    <select id="selectTagUIDUploadData"
            resultType="org.kexing.management.domin.model.sql_server.TagUIDUploadData">
        <include refid="tagUIDUploadDataSelectColumns"/>
        from AIO8_MES_Work2.dbo.EAWrk
        where TagUID = #{tagUID}
    </select>
    <select id="selectTagUIDUploadDataByTagUIDLike"
            resultType="org.kexing.management.domin.model.sql_server.TagUIDUploadData">
        <include refid="tagUIDUploadDataSelectColumns"/>
        from AIO8_MES_Work2.dbo.EAWrk
        where TagUID like '%${tagUID}%'
    </select>
</mapper>